/*GERAIS */

html {
  height: 100%;
  background: rgb(1, 31, 38);
  background: linear-gradient(
    353deg,
    rgba(1, 31, 38, 0.76234243697479) 7%,
    rgba(242, 187, 22, 0.7259278711484594) 27%,
    rgba(4, 49, 51, 0.6166841736694677) 51%,
    rgba(37, 217, 184, 0.6082808123249299) 87%
  );
  box-sizing: border-box;
  font-family: 'Sen', 'TW Cen MT', sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  user-select: none;
}
.d-none {
  display: none;
}

.camada {
  width: 1400px;
  height: 847px;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---- -- -- TELA INICIAL -- -- ---- */

.background {
  background-image: url(../img/background.png);
  position: relative;
  width: 1400px;
  height: 847px;
  box-shadow: 0 0 15px -5px #000000;
  z-index: 1;
}

.btnMenu {
  width: 1400px;
  height: 70px;
  padding: 10px 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  background: #0a0a0a50;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnMenu button {
  display: block;
  border: none;
  background: none;
  color: #f0f0f0;
  font-size: 1.1em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 50px;
}

.btnMenu button:hover {
  cursor: pointer;
  background: #f0f0f0;
  color: #f63939;
  transition: 0.3s;
  text-shadow: 0 0 5px #2f2f2f50;
}

/* ---- -- -- POP UP DE INSTRUÇÕES  -- -- ---- */
.popup-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-container.show {
  display: flex;
}

.pop-up {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.show .pop-up {
  animation: pop-up 3s;
}

.close {
  position: absolute;
  font-size: 20px;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 4px solid white;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* ---- -- -- TELA JOGO -- -- ---- */
#screenGame {
  background-image: url(../img/background.png);
  position: relative;
  width: 1400px;
  height: 847px;
  box-shadow: 0 0 15px -5px #0a0a0a50;
  z-index: 1;
}

#status {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 200px;
  height: 15px;
  background: linear-gradient(145deg, #97b13cda, #54991dda);
  transition: 0.3s;
}

.jogo {
  max-width: 1400px;
}
#ruffles {
  width: 150px;
  height: 200px;
  background: url('../img/rufflesjogo.png') no-repeat bottom center;
  background-size: 150px 200px;
  position: absolute;
  bottom: 0;
  max-width: 1400px;
}
@keyframes animationScreenGame {
  from {
    top: -3000px;
  }
  to {
    top: 0px;
  }
}

@keyframes animationscreenHome {
  from {
    top: 0px;
  }
  to {
    top: -3000px;
  }
}

@keyframes animationBtnsGame {
  from {
    bottom: -3000px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes animatinBtnsHome {
  from {
    bottom: 0px;
  }
  to {
    bottom: -3000px;
  }
}

.comida {
  background-image: url(../img/Comida1.png);
  background-repeat: no-repeat;
  width: 1400px;
  height: 847px;
  position: absolute;
  top: 0;
  left: 0;
}
